.vscode/settings.json
.DS_Store
.vscode/settings.json
one_way_function/matrix_L_n4_r3
one_way_function/n_10_random/matrix_S
one_way_function/n10_t7_s4_r2_random/matrix_S
one_way_function/n10_t8_s4_r1_random/matrix_S
.vscode/settings.json
.vscode/settings.json
one_way_function/n12_t_10_s3_r1/matrix_S
Y120_project/__pycache__/group_classifier.cpython-38.pyc
Y120_project/D4/.ipynb_checkpoints/Untitled-checkpoint.ipynb
.vscode/settings.json
.vscode/settings.json
one_way_function/n12_t_10_s3_r1/__pycache__/main.cpython-38.pyc
.vscode/settings.json
.vscode/settings.json
.vscode/settings.json
.vscode/settings.json
non_unitary/__pycache__/subroutines.cpython-311.pyc
non_unitary/__pycache__/subroutines.cpython-312.pyc
non_unitary/ancilla/__pycache__/ancillaSubroutines.cpython-311.pyc
non_unitary/ancilla/__pycache__/ancillaSubroutines.cpython-312.pyc
non_unitary/PXP/__pycache__/PXPsubroutines.cpython-311.pyc
non_unitary/PXP/__pycache__/PXPsubroutines.cpython-312.pyc
non_unitary/no-ancilla/__pycache__/subroutines.cpython-311.pyc
non_unitary/false-vacuum/__pycache__/false_vacuum_subroutines.cpython-312.pyc
non_unitary/no-ancilla/__pycache__/subroutines.cpython-312.pyc
non_unitary/2D/__pycache__/two_d_subroutines.cpython-312.pyc
non_unitary/2D/__pycache__/two_d_subroutines.cpython-311.pyc
non_unitary/false-vacuum/__pycache__/false_vacuum_subroutines.cpython-311.pyc

LQCD/exact_synthesis/__pycache__/CR_class.cpython-312.pyc
